@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

/* font-family: "Monoton", sans-serif; */
/* font-weight: 400; */

/* font-family: "Bellota Text", sans-serif; */
/* font-weight: 300-400-700; */

/* reset and global styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-1: rgba(50, 231, 255, 0.8);
  --color-2: rgba(50, 231, 255, 0.2);
  --color-3: rgba(255, 255, 255, 0.2);
  --color-4: #fffeee;
  --font-primary: "Monoton", sans-serif;
  --font-secondary: "Bellota Text", sans-serif;
  --section-heading-color: #999;
  --card-background-color: #eee;
  --quote-star-color: #f08e0f;
  --team-heading-color: #796717;
  --team-projects-bg-color: #fab34a;
  --team-story-bg-color: #fd4545e6;
  --form-bg-color: #e5e9ff;
  --form-btn-hover-bg-color: #22c9df;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-secondary);
  font-weight: 400;
}
ul {
  list-style: none;
}
a,
input[type="submit"] {
  cursor: pointer;
  text-decoration: none;
}
button,
input,
optgroup,
select,
textarea,
fieldset {
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* -----------Section 1-------------- */
.container {
  overflow: hidden;
}
.section__1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.navbar {
  /* position relative for the z-index to work */
  position: relative;
  z-index: 20;
  top: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.navbar__link {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
  width: 1.5rem;
  height: auto;
  word-wrap: break-word;
  transition: all 0.5s;
}
.navbar__link:hover {
  width: 15rem;
  text-align: center;
  background-color: var(--color-3);
  transition: all 2.5s;
}
.floating-bg {
  width: 140vw;
  height: 140vw;
  background-color: var(--color-1);
  position: absolute;
  top: -70rem;
  left: 50%;
  border-radius: 45%;
  animation: rotate 30s infinite;
}
.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.section__1--heading {
  font-size: 8rem;
  font-family: var(--font-primary);
  font-weight: 400;
  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  color: #fff;
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0.9;
}
.logo {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}
.logo i {
  font-size: 8rem;
  color: var(--color-1);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
}

/* -----------Section 2 Customers-------------- */
.section__2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section__heading {
  font-size: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--section-heading-color);
  opacity: 0.2;
}
.customers {
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.customer {
  width: 35rem;
  height: 50rem;
  background-color: var(--card-background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #ddd;
  transition: box-shadow 0.5s;
}
.customer:hover {
  box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #ddd;
}
.customer:first-child {
  align-self: flex-end;
}
.customer:last-child {
  align-self: flex-start;
}
.customer > i {
  font-size: 4rem;
  color: var(--quote-star-color);
}
.customer__text {
  font-size: 1.8rem;
  text-align: justify;
}
.customer__text::first-letter {
  margin-left: 1rem;
}
.customer__rating {
}
.customer__rating i {
  font-size: 2rem;
  color: var(--quote-star-color);
}
.customer img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.customer__name {
  font-size: 2rem;
  font-weight: 700;
}

/* -----------Section 3 Team-------------- */
.section__3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0;
}
.team {
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.team__member {
  width: 35rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: var(--color-4);

  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #ddd;
  transition: all 0.5s;
  opacity: 0.7;
  position: relative;
}

.team__member:hover {
  box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #ddd;
  opacity: 1;
}
.team__member:first-child {
  align-self: flex-start;
}
.team__member:last-child {
  align-self: flex-end;
}
.team__member img {
  width: 100%;
  border-radius: 0.5rem;
}
.team__member--name {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--team-heading-color);
  margin-top: 2rem;
}
.team__member--name span {
  font-size: 1.7rem;
}
.team__member--skills {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  font-size: 1.5rem;
}
.team__member--projects {
  color: #fff;
  background-color: var(--team-projects-bg-color);
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
.team__member--story-btn {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  background-color: #222;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s;
}
.rotate.team__member--story-btn {
  transform: rotate(405deg);
}
.team__member--story-btn__line {
  width: 70%;
  height: 0.1rem;
  background-color: #fff;
}
.story {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--team-story-bg-color);
  padding: 2rem;
  display: flex;
  border-radius: 20rem 0 20rem 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transform-origin: top right;
  transition: all 1s;
}
.show.story {
  transform: scale(1);
  border-radius: 0;
}
.story__title {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}
.story__para {
  font-size: 1.8rem;
  color: #eee;
  text-align: justify;
}
/* -----------Section 4 Contact and Footer----------- */
.section__4 {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form__container {
  width: 80%;
  height: 40%;
  background-color: var(--form-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0.3rem 0.3rem 0.5rem #ccc, -0.1rem -0.1rem 0.5rem #ccc;
  border-radius: 0.5rem;
  perspective: 100rem;
}
.form__container img {
  width: 45rem;
  background-color: var(--color-1);
  padding: 5rem;
  opacity: 0.8;
  box-shadow: -3rem 3rem 4rem #ccc;
  transform: rotateY(20deg);
}
.form__container img:hover {
  transition: transform 1s;
  transform: translateY(-2rem) rotateY(20deg);
}
.form__container--contact-form {
  width: 45rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 3rem 3rem 4rem #888;
  transform: rotateY(-30deg);
}
.form__container--contact-form:hover {
  transition: transform 1s;
  transform: translateY(-2rem) rotateY(-30deg);
}
.form__container--contact-form input,
.form__container--contact-form textarea {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: 1px solid #ddd;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
}
.form__container--contact-form textarea {
  max-height: 15rem;
  min-height: 10rem;
  max-width: 100%;
  min-width: 70%;
}
.form__container--contact-form input[type="submit"] {
  color: #fff;
  background-color: var(--color-1);
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  transition: background-color 0.5s;
}
.form__container--contact-form input[type="submit"]:hover {
  background-color: var(--form-btn-hover-bg-color);
}
.copyright {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #444;
}
